.container {
    width: auto;
    max-width: 1200px;
    padding: 0 15px
}

main {
    margin-bottom: 3em
}

footer {
    background-color: #eee !important
}

ul {
    font-size: 18px
}

h1 {
    display: block;
    background-image: url("../favicon.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 50px;
    padding-left: 65px;
}

h2 {
    margin-top: 1.5em;
    margin-bottom: 0.6em;
    color: #0c79af
}
h4.dataset {
    font-size: 1.25rem;
    margin-top: 1em;
    margin-bottom: 0.6em;
    color: #d74040
}